<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>

<h1>Mon site avec bootstrap</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa itaque minus odit officia quod repellat, ullam veniam. Consequuntur debitis, dolorem error illo labore nostrum quos reiciendis sint soluta voluptate.</p>
</body>
</html>